<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>签到</title>
</head>
<body>

<!-- 签到功能 -->
<div class="page-header">
    <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form" method="post"
              action="/sign_index_action/{{ event.id }}/">
            <div class="form-group">
                <input name="phone" type="text" placeholder="输入手机号"
                       class="form-control">
            </div>
            <button type="submit" class="btn btn-success">签到</button>
            <font color="red">
                <br>{{ hint }}
                <br>{{ guest.real_name }}
                <br>{{ guest.phone }}
            </font>
        </form>

</body>
</html>